.nav-box {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: green;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

.search-input {
  width: 500px;
  height: 30px;
}
.home-box {
  display: flex;
}

.nav-link {
  justify-content: center;
  color: red;
  margin: 5px;
}
.nav-list {
  display: flex;
}
li {
  color: red;
  display: block;
}
