{% extends 'base.html' %}
{% block page_title %}Movie Detail{% endblock page_title %}

{% block content%}
    <h2> It's movie_detail html</h2>

    <h3>title: {{movie.title}}</h3>
    <h3>release date : {{movie.release_date}}</h3>
    <h3>director : {{movie.director}}</h3>
    <h3>cast : {{movie.cast}}</h3>
    <h3>synopsis : {{movie.synopsis}}</h3>

    {% for genre in movie.genre.all %}
        <h3>genre : {{genre}} </h3>
    {% endfor %}
    
    <h3>Reviews</h3>
    <h3>total_rating : {{movie.total_rating}}</h3>

    {% for comment in movie.comment %}
        <h3>  {{comment}} </h3> 
    {% endfor %}        

    

    <a href="{% url 'movies:movieEdit' movie.pk %}"> Edit this movie</a>
    <a href="{% url 'reviews:createReview' movie.pk%}"> Write reviews</a>
{% endblock content%}
