{% extends 'base.html' %}

{% block page_title %}
    {{movie.title}}'s photos
{% endblock%}

{% block content %}
    <h3>
        <a href="{% url 'movies:add-photo' movie.pk %}">Upload Photo</a>
    </h3>

    {%if movie.photos.all %}
    <h3> Enroll New Poster!! </h3>
    {% else %}
    

    {% for photo in movie.photos.all %}
    <div>
        <img src="{{photo.files.url}}">
        <span>{{photo.caption}}</span>
        <h4>
            <a href="{% url 'movies:edit-photo' movie.pk photo.pk %}">Edit</a>
        </h4>
        <h4>
            <a href="{% url 'movies:delete-photo' movie.pk photo.pk %}">Delete</a>
        </h4>
    </div>
    {% endfor %}

    {% endif %}
    <h3>
        <a href="{% url 'movies:movieEdit' movie.pk %}"> Back to edit Movie</a>
    </h3>

{% endblock content %}