{% extends 'base.html' %}

{% block page_title %}
    {{movie.title}}'s photos
{% endblock%}

{% block content %}
    <h3>
        <a href="{% url 'movies:add-photo' movie.pk %}">Upload Photo</a>
    </h3>

    

    {% for photo in movie.photos.all %}
    <div>
        <!-- img 불러오기 : photo.files.url 로 설정해서 작동해야 함 -->
        <img src="{{main_photo}}">
        <span>{{photo.caption}}</span>
        <h4>
            <a href="{% url 'movies:edit-photo' movie.pk photo.pk %}">Edit</a>
        </h4>
        <h4>
            <a href="{% url 'movies:delete-photo' movie.pk photo.pk %}">Delete</a>
        </h4>
    </div>
    {% endfor %}

    <h3>
        <a href="{% url 'movies:movieEdit' movie.pk %}"> Back to edit Movie</a>
    </h3>

{% endblock content %}