{% extends 'base.html' %}
{% block page_title %}User Profile{% endblock page_title %}
{% block content %}
    <h1>it's {{user.first_name}}'s profile html</h1>
    <div>
        {{user.email}}
        {{user.first_name}}
        {{user.last_name}}
        {% if user.birthday %}
            {{user.birthday}}
        {% endif %}

    </div>
    <div>
        <h3>It's {{user.first_name}}'s Review </h3>
        {% for reveiw in reviews.all %}
            {% if review.writer == user.email%}
                {{review.movie}}
                {{review.comment}}
            {% endif %}
        {% endfor %}
    </div>
    
    <li class="nav_link"> 
        <a href="{% url 'users:editProfile' pk=user.pk %}"> Edit Profile</a>
    </li>
{% endblock content%}